.header {
    display: flex;
    justify-content: center;
    background-color: #D1E0DD;
    width: 100%;
}

.headerContainer {
    max-width: 1920px;
    height: 88px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
    align-items: center;
}
.image{
    height: 80px;
    width: 80px;
}