.about{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: auto;
    max-width: 1280px;

}
.heading{
    background-image: url("../../images/aboutTitle.jpg");
    width:1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    background-size: cover;
    margin-bottom: 20px;
}
.img{
    height: 486px;
    margin: 40px auto 40px auto;

}
.text{
    color: #535353;
    max-width: 1258px;
    line-height: 24px;
    letter-spacing: 0em;
}
.title{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    text-align: start;
    color: #FFFFFF;

}
.content{
    width: 1440px;
    background: #FFFFFF;
    display: flex;
    margin: auto;
    height: 100vh;

}