.container{
    max-width: 1372px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;

}

.image{
    width: 150px;
    height: 150px;
}
.productContainer{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.button{
    background-color: #F2F3F8;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
    margin-top: 30px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #2A324B;
    display: flex;
    align-self: self-end;

}
.countContainer{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
}
.countButton{
    background-color: #F2F3F8;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #2A324B;
    width: 45px;
    height: 45px;
}
.line {
    max-width: 1372px;
    width: 99%;
    color: #8E92A4;
    size: 5px ;
    margin: 0;
}

@media screen and (max-width:624px){
    .countContainer{

        margin-left: auto;
    }

}
@media screen and (max-width:550px){
    .image{
        display: none;
    }

}
