.nav {
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 100%;
  justify-content: space-between;
}
.nav__links {
  display: flex;
}
.nav_links_desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__link {
  font-weight: normal;
  text-decoration: none;
  color: #2a324b;
  cursor: pointer;
  margin-left: 20px;
}
.nav__link:hover {
  opacity: 0.7;
}

.nav__link_active {
  font-weight: 500;
}

.nav__burger {
  background: url("../../images/burger.svg") center no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
  visibility: hidden;
}
.nav__burger_opened {
  background: url("../../images/burger__close.svg") center no-repeat;
}
@media screen and (max-width: 767px) {
  .nav__burger {
    visibility: visible;
    z-index: 4;
  }
  .nav__links {
    width: 100%;
    max-width: 520px;
    background: #202020;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .nav__links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 28px;
    display: none;
  }
  .nav__link_active {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 4px;
  }

  .nav__link_show {
    display: block;
    color: #ffffff;
  }
}
@media screen and (max-width: 376px) {
  .nav__burger {
    top: 15px;
    right: 15px;
  }
  .nav__links {
    width: 100%;
  }
}
